@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 1200px;
  align-items: center;
}

.header {
  position: relative;
  background-image: url("../../src/images/banner.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.navigation {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  flex-grow: 1;
  margin-left: 66px;
  padding: 0;
  align-items: center;
}
.navigation-list-item {
  list-style: none;
  line-height: 0;
  margin-left: 24px;
}
.navigation-list-item a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #CACACA;
  text-decoration: none;
  line-height: 1.5;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.logo-image {
  width: 24px;
  height: 24px;
  background-image: url("../../src/images/logo.svg");
  background-position: center;
  background-size: cover;
}
.logo-name {
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 16px;
}

.search-form {
  height: 25px;
}
.search-form input {
  height: 25px;
  background-color: #3C3B3D;
  border: none;
  outline: none;
  border-radius: 50px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13.3px;
  text-transform: uppercase;
  color: #757575;
  padding: 0;
  padding-left: 10px;
  line-height: 0;
}

.page-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding-bottom: 200px;
}
.page-description-title {
  margin: 0;
  color: #FFFFFF;
}
.page-description-subtitle {
  margin: 0;
  color: #FFFFFF;
}
.page-description-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.form-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 17px;
  width: 570px;
}
.form-start-item input {
  box-sizing: border-box;
  padding: 0;
  height: 46px;
  width: 266px;
  border: 2px solid #cacaca;
  background: none;
  outline: none;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  padding-left: 20px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.form-start-buttom {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  background: #34C176;
  border: none;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 13.3px;
  padding: 20px;
  color: #FFFFFF;
}