@import "fonts.scss";

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 1200px;
  align-items: center
}

@import "header.scss";
